#pt-euc_wrapper {
	width: 200px;
	position: fixed;
	right: 10px;
	bottom: 24px;
	z-index: 200;
	padding-bottom: 10px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#pt-euc_box {
	background: white;
	border: 1px solid  #8C8C8C;
	border: 1px solid  rgba(0, 0, 0, .45);
	border-bottom: 1px solid  #666;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	position: relative;	
}

#pt-euc_message {
	padding: 15px;
	color: #333;
	font-size: 11px;
}

#pt-euc_footer {
	background-color: #F2F2F2; 
	border: 1px solid #CCC;
}

#pt-euc_arrow {
	position: absolute;
	background: url(arrow.png) top left no-repeat;
	bottom: 3px;
	height: 9px;
	width: 16px;
}

#pt-euc_sticky {
	position: fixed;
	bottom: 0;
	right: 20px;
	-webkit-box-shadow: 0 1px 1px  rgba(0, 0, 0, .3);	
}

#pt-euc_cookie {
	background:  #EBEEF4;
	border: 1px solid  rgba(29, 49, 91, .3);
	border-bottom: 0;
	-webkit-box-shadow: inset 0 1px  rgba(255, 255, 255, .5);
	color:  #333;
	display: block;
	height: 16px;
	font-weight: bold;
	padding: 4px 5px;
	position: relative;
	z-index: 1;
}

#pt-euc_links {
	float: left;
	padding: 8px 4px 0 10px;
}

#pt-euc_links a {
	font-size: 11px;
	text-decoration: none;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #262626;
}

#pt-euc_close {
	margin-left: 6px;
	color: #999;
}

#pt-euc_toggle {
	display: block;
	float: right;
	width: 65px;
	height: 36px;
	background-image: url(on_off.png);
	background-position: -65px 0px;
	background-repeat: no-repeat;
	margin: 5px 5px 0 0;
	text-indent: -9999px;
}
#pt-euc_toggle.on {
	background-position: 0px 0px;
}

.pt-euc_clear {
	clear: both;
}

#pt-euc_cookie {
	cursor: pointer;
}

#pt-euc_cookie i {
	display: block;
	width: 16px;
	height: 16px;
	background: url(cookie.png) top left no-repeat;
}
