a.prev:hover,a.next:hover { background-color:#66cdaa;}
.footerstress { border: solid #66cdaa;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#66cdaa;}
.vuzz-pricing-table>div { border-top:#66cdaa 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#66cdaa;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#66cdaa;}
.hometitlebg { background:#66cdaa; }
.colortitlebg { background:#66cdaa; }
.neutralbutton {	background:#66cdaa;}
.serviceicon { background-color:#66cdaa;}
.subtitle { border-bottom:#66cdaa 1px solid;}
.wrapaction { border-left: #66cdaa 3px solid;background:#fff;}
.wrapactiondefault {border-left: #66cdaa 2px solid;}
.actionbutton { background-color:#66cdaa;}
.stresstitle { border-bottom:#66cdaa 1px solid;}
.undermenuarea {	background: #66cdaa url(../images/pat.png) repeat;}
.noshadowbox {background:#fff;}
.progressdefault {background: #66cdaa;}
.simplebox {border-left: 1px solid #66cdaa;}
.simpleboxicon {color: #66cdaa;}
.colorme { color:#66cdaa;}
.buttonprice {background: #66cdaa;color:#fff;border:0px;}
a.expandAll {background: #66cdaa;}