a.prev:hover,a.next:hover { background-color:#70acab;}
.footerstress { border: solid #70acab;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#70acab;}
.vuzz-pricing-table>div { border-top:#70acab 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#70acab;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#70acab;}
.hometitlebg { background:#70acab; }
.colortitlebg { background:#70acab; }
.neutralbutton {	background:#70acab;}
.serviceicon { background-color:#70acab;}
.subtitle { border-bottom:#70acab 1px solid;}
.wrapaction { border-left: #70acab 3px solid;background:#fff;}
.actionbutton { background-color:#70acab;}
.stresstitle { border-bottom:#70acab 1px solid;}
.undermenuarea {	background: #70acab url(../images/pat.png) repeat;}
.noshadowbox {background:#fff;}
a.expandAll, .progressdefault {background: #70acab;}
.simplebox {border-left: 1px solid #70acab;}
.simpleboxicon {color: #70acab;}
.colorme { color:#70acab;}
.buttonprice {background: #70acab;color:#fff;border:0px;}
a.expandAll {background: #70acab;}
.wrapactiondefault {border-left: #70acab 2px solid;}