a.prev:hover,a.next:hover { background-color:#ffa500;}
.footerstress { border: solid #ffa500;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#ffa500;}
.vuzz-pricing-table>div { border-top:#ffa500 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#ffa500;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#ffa500;}
.hometitlebg { background:#ffa500; }
.colortitlebg { background:#ffa500; }
.neutralbutton {	background:#ffa500;}
.serviceicon { background-color:#ffa500;}
.subtitle { border-bottom:#ffa500 1px solid;}
.wrapaction { border-left: #ffa500 3px solid;background:#fff;}
.actionbutton { background-color:#ffa500;}
.stresstitle { border-bottom:#ffa500 1px solid;}
.undermenuarea {	background: #ffa500 url(../images/pat.png) repeat;}
.noshadowbox {background:#fff;}
a.expandAll, .progressdefault {background: #ffa500;}
.simplebox {border-left: 1px solid #ffa500;}
.simpleboxicon {color: #ffa500;}
.colorme { color:#ffa500;}
.buttonprice {background: #ffa500;color:#fff;border:0px;}
a.expandAll {background: #ffa500;}
.wrapactiondefault {border-left: #ffa500 2px solid;}