a.prev:hover,a.next:hover { background-color:#F45B4D;}
.footerstress { border: solid #F45B4D;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#F45B4D;}
.vuzz-pricing-table>div { border-top:#F45B4D 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#F45B4D;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#F45B4D;}
.hometitlebg { background:#F45B4D; }
.colortitlebg { background:#F45B4D; }
.neutralbutton {	background:#F45B4D;}
.serviceicon { background-color:#F45B4D;}
.subtitle { border-bottom:#F45B4D 1px solid;}
.wrapaction { border-left: #F45B4D 3px solid;background:#fff;}
.actionbutton { background-color:#F45B4D;}
.stresstitle { border-bottom:#F45B4D 1px solid;}
.undermenuarea {	background: #F45B4D url(../images/pat.png) repeat;}
.noshadowbox {background:#fff;}
a.expandAll, .progressdefault {background: #F45B4D;}
.simplebox {border-left: 1px solid #F45B4D;}
.simpleboxicon {color: #F45B4D;}
.colorme { color:#F45B4D;}
.buttonprice {background: #F45B4D;color:#fff;border:0px;}
a.expandAll {background: #F45B4D;}
.wrapactiondefault {border-left: #F45B4D 2px solid;}