a.prev:hover,a.next:hover { background-color:#91b841;}
.footerstress { border: solid #91b841;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#91b841;}
.vuzz-pricing-table>div { border-top:#91b841 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#91b841;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#91b841;}
.hometitlebg { background: #91b841;border: 1px solid #eee;color: #fff; }
.noshadowbox {background-color: #fff;}
.colortitlebg {background:#91b841; }
.neutralbutton {	background:#91b841;}
.serviceicon { background-color:#91b841;}
.subtitle { border-bottom:#91b841 1px solid;}
.wrapaction { border-left: #91b841 3px solid;background:#fff;}
.actionbutton { background-color:#91b841;}
.stresstitle { border-bottom:#91b841 1px solid;}
.undermenuarea {	background: #91b841 url(../images/pat.png) repeat;}
.back-top a:hover { background-color: #333; }
a.expandAll, .progressdefault {background: #91b841;}
.simplebox {border-left: 1px solid #91b841;}
.simpleboxicon {color: #91b841;}
.colorme { color:#91b841;}
.buttonprice {background: #91b841;color:#fff;border:0px;}
.wrapactiondefault {border-left: #91b841 2px solid;}