a.prev:hover,a.next:hover { background-color:#f0b70c;}
.footerstress { border: solid #f0b70c;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#f0b70c;}
.vuzz-pricing-table>div { border-top:#f0b70c 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#f0b70c;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#f0b70c;}
.hometitlebg { background: #f0b70c;border: 1px solid #eee;color: #fff;}
.noshadowbox {background-color: #fff;}
.colortitlebg {background:#f0b70c; }
.neutralbutton {	background:#f0b70c;}
.serviceicon { background-color:#f0b70c;}
.subtitle { border-bottom:#f0b70c 1px solid;}
.wrapaction { border-left: #f0b70c 3px solid;background:#fff;}
.actionbutton { background-color:#f0b70c;}
.stresstitle { border-bottom:#f0b70c 1px solid;}
.undermenuarea {	background: #f0b70c url(../images/pat.png) repeat;}
.back-top a:hover { background-color: #333; }
a.expandAll, .progressdefault {background: #f0b70c;}
.simplebox {border-left: 1px solid #f0b70c;}
.simpleboxicon {color: #f0b70c;}
.colorme { color:#f0b70c;}
.buttonprice {background: #f0b70c;color:#fff;border: 0px;}
.wrapactiondefault {border-left: #f0b70c 2px solid;}