a.prev:hover,a.next:hover { background-color:#daa520;}
.footerstress { border: solid #daa520;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#daa520;}
.vuzz-pricing-table>div { border-top:#daa520 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#daa520;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#daa520;}
.hometitlebg { background:#daa520; }
.colortitlebg { background:#daa520; }
.neutralbutton {	background:#daa520;}
.serviceicon { background-color:#daa520;}
.subtitle { border-bottom:#daa520 1px solid;}
.wrapaction { border-left: #daa520 3px solid;background:#fff;}
.actionbutton { background-color:#daa520;}
.stresstitle { border-bottom:#daa520 1px solid;}
.undermenuarea {	background: #daa520 url(../images/pat.png) repeat;}
.noshadowbox {background:#fff;}
a.expandAll, .progressdefault {background: #daa520;}
.simplebox {border-left: 1px solid #daa520;}
.simpleboxicon {color: #daa520;}
.colorme { color:#daa520;}
.buttonprice {background: #daa520;color:#fff;border:0px;}
a.expandAll {background: #daa520;}
.wrapactiondefault {border-left: #daa520 2px solid;}