a.prev:hover,a.next:hover { background-color:#b28eb4;}
.footerstress { border: solid #b28eb4;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#b28eb4;}
.vuzz-pricing-table>div { border-top:#b28eb4 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#b28eb4;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#b28eb4;}
.hometitlebg { background:#b28eb4; }
.colortitlebg { background:#b28eb4; }
.neutralbutton {	background:#b28eb4;}
.serviceicon { background-color:#b28eb4;}
.subtitle { border-bottom:#b28eb4 1px solid;}
.wrapaction { border-left: #b28eb4 3px solid;background:#fff;}
.actionbutton { background-color:#b28eb4;}
.stresstitle { border-bottom:#b28eb4 1px solid;}
.undermenuarea {	background: #b28eb4 url(../images/pat.png) repeat;}
.noshadowbox {background:#fff;}
a.expandAll, .progressdefault {background: #b28eb4;}
.simplebox {border-left: 1px solid #b28eb4;}
.simpleboxicon {color: #b28eb4;}
.colorme { color:#b28eb4;}
.buttonprice {background: #b28eb4;color:#fff;border:0px;}
.wrapactiondefault {border-left: #b28eb4 2px solid;}