a.prev:hover,a.next:hover { background-color:#008782;}
.footerstress { border: solid #008782;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#008782;}
.vuzz-pricing-table>div { border-top:#008782 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#008782;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#008782;}
.hometitlebg { background:#008782; }
.colortitlebg { background:#008782; }
.neutralbutton {	background:#008782;}
.serviceicon { background-color:#008782;}
.subtitle { border-bottom:#008782 1px solid;}
.wrapaction { border-left: #008782 3px solid;background:#fff;}
.actionbutton { background-color:#008782;}
.stresstitle { border-bottom:#008782 1px solid;}
.undermenuarea {	background: #008782 url(../images/pat.png) repeat;}
.noshadowbox {background:#fff;}
a.expandAll, .progressdefault {background: #008782;}
.simplebox {border-left: 1px solid #008782;}
.simpleboxicon {color: #008782;}
.colorme { color:#008782;}
.buttonprice {background: #008782;color:#fff;border:0px;}
a.expandAll {background: #008782;}
.wrapactiondefault {border-left: #008782 2px solid;}