<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Real-Time Analyics</title>

<body>
    <style>
       
    </style>

	<script src="./socket.io/socket.io.js"></script>
	<script>
		var socket = io();
		var visitorData = {
			referringSite: document.referrer,
			page: location.pathname
		}
		socket.emit('visitor-data', visitorData);
	</script>

</body>

</html>
